<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

    <dt>Favorites</dt>


    <dd>
      <ul class="list-group">

        <% @user.favorites.each do |favorite| %>
            <li class="list-group-item">
              <%=favorite.dish.name %> at <%=favorite.venue.name %>
            </li>
        <% end %>

        <li class="list-group-item">
          <form action="/create_favorite" method="post">

            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


            <div class="form-group">
              <label for="dish_id" class="control-label">
                Dish
              </label>
              <%=select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :name), :class => "form-control") %>
            </div>

            <div class="form-group">
              <label for="venue_id" class="control-label">
                Venue
              </label>
              <%=select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
            </div>

            <div class="form-group">
              <label for="notes" class="control-label">
                Notes
              </label>
              <input type="text" id="address" name="notes" placeholder="Notes" class="form-control" value="">
            </div>

            <input name="user_id" type="hidden" value="<%= @user.id %>">

            <button class="btn btn-success btn-block">
              Create Favorite
            </button>
          </form>
        </li>

      </ul>
    </dd>


    </dl>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
